<div class="container top_box">
  <div class="row top">
    <div class="img_box col-md-12 col-xs-12">
      <%= image_tag ('Blog_icon.png')%>
    </div>
  </div>
  <ul class="row blogs_path">
    <li class="col-md-12 col-xs-12"><%= link_to 'Go to Blog', blogs_path, class: 'button' %></li>
    <li class="col-md-12 col-xs-12">このアプリはブログにbootstrapを導入したアプリです。</li>
  </ul>
</div>